## Shopify Fall 2022 Data Science Intern Challenge

In [1]:
import pandas as pd

### Question 1

In [2]:
csv_path = '2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv'
df = pd.read_csv(csv_path)

**a.** There are some outlier orders in the dataset which has rarely large order amount. They can mainly be divided into two types. First type is that the order has a large number of total items. The second type is that the sneakers price is relatively high. Below are two outlier examples, one for each type.

In [3]:
df.iloc[[15, 160]]

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
15,16,42,607,704000,2000,credit_card,2017-03-07 4:00:00
160,161,78,990,25725,1,credit_card,2017-03-12 5:56:57

**b.** Instead of mean, median order value might be a better metric in this case. Mean and median both help to understand the central tendency of datasets, but since mean is affected by the outliers a lot, median will be a better choice here.

**c.** The median order value is $284.0.

In [4]:
median_order_value = df['order_amount'].median()
median_order_value

284.0

### Question 2

**a.** **54 orders** were shipped by Speedy Express in total.

SELECT COUNT(*) FROM Orders
WHERE ShipperID = (
    SELECT ShipperID FROM Shippers
    WHERE ShipperName = 'Speedy Express'
    );

**b.** The last name of the employee with the most orders is **Peacock**.

SELECT LastName FROM Employees
WHERE EmployeeID = (
    SELECT EmployeeID FROM Orders
    GROUP BY EmployeeID
    ORDER BY COUNT(*) DESC
    LIMIT 1
    );

**c.** The product was ordered the most by customers in Germany is **Boston Crab Meat**.

SELECT ProductName FROM Products
WHERE ProductID = (
  SELECT ProductID FROM OrderDetails od
    JOIN (
      SELECT * FROM Orders
      WHERE CustomerID in (
        SELECT CustomerID FROM Customers
        WHERE Country = 'Germany'
      )
    ) o
    ON od.OrderID = o.OrderID
    GROUP BY ProductID
    ORDER BY SUM(Quantity) DESC
    LIMIT 1
  );